/env
/.pytest_cache
.vscode
/__pycache__
/msqbitsReporter/__pycache__
test/__pycache__
test/test_msqbitsReporter_discord/__pycache__
/msqbitsReporter/msqbitsReporter_jsonDecryptor/__pycache__
*.pyc
test/__pycache__/test_jsonDecryptor.cpython-37-pytest-5.1.2.pyc
test/__pycache__/test_database.cpython-37-pytest-5.1.2.pyc
test/__pycache__/__init__.cpython-37.pyc
